version: '3'
services:
  activemq:
    container_name: activemq
    image: activemq
  mongodb:
    container_name: mongodb
    image: mongo
  config:
    container_name: config
    build:
      context: config
      args:
      - artifact_id=config
      - version=0.0.1-SNAPSHOT
  consumer:
    container_name: consumer
    build:
    depends_on:
        - activemq
      context: consumer
      args:
      - artifact_id=consumer
      - version=0.0.1-SNAPSHOT
  discovery:
    container_name: discovery
    build:
      context: discovery
      args:
      - artifact_id=discovery
      - version=0.0.1-SNAPSHOT
  front-end:
    container_name: front-end
    build:
      context: front-end
      args:
      - artifact_id=front-end
      - version=0.0.1-SNAPSHOT
    ports:
      - "80:3000"
  gateway:
    container_name: gateway
    build:
      context: gateway
      args:
      - artifact_id=gateway
      - version=0.1.0
  user-creation-api:
    container_name: user-creation-api
    build:
      context: user-creation-api
      args:
      - artifact_id=user-creation-api
      - version=0.1.0
  cv-api:
    container_name: cv-api
    build:
    depends_on:
    - config
    - discovery
    - gateway
      context: cv-api-for-cloud
      args:
      - artifact_id=cv-api
      - version=0.0.1-SNAPSHOT